* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(0, 128, 128);
}

.main-container {
    width: 100%;
    height: 5rem;
    background: rgb(14, 14, 8, 0.1);
}

.main-container .navlist {
    padding-top: 2rem;
    gap: 1.5rem;
}

.logo img {
    width: 50px;
    height: 50px;
    float: left;
    margin-top: .9rem;
    margin-left: 10px;
}

.logo ul {
    display: flex;
    justify-items: center;
    align-items: center;
    padding-left: 4rem;
}

.logo .home {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 450px;
    gap: 1.5rem;
}

.navlist li {
    list-style-type: none;
}

.navlist li a {
    text-decoration: none;
    color: #000;
    font-size: 1rem;
}

.home .fa-brands {
    font-size: 1rem;
}

.content {
    width: 500px;
    height: 20px;
    margin-left: 130px;
    padding-top: 130px;
}

.content h1 {
    width: 400px;
    line-height: 55px;
    font-size: 3rem;
}

.content h3 {
    font-size: 1.5rem;
    padding-top: 10px;
}

.content button {
    margin-top: 30px;
    width: 120px;
    padding: 7px;
    font-weight: bold;
}

.content .btn-1 {
    background: #000;
    color: #fff;
    border: none;
    border-radius: 8px;
}

.content .btn-2 {
    background:transparent;
    color:#000;
    border: 1px solid #000;
    border-radius: 8px;
    position: relative;
}
.image img{
    width: 500px;
    height:560px;
    margin-right:24px;
    position: absolute;
    top: 11.3%;
    right:10%;

}